/* starting mobile design first to load faster on mobile devices */

:root {
    --StrongCyan: hsl(171, 66%, 44%);
    --LightBlue: hsl(233, 100%, 69%);
    --DarkGrayishBlue: hsl(210, 10%, 33%);
    --GrayishBlue: hsl(201, 11%, 66%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 1.125rem;
    font-family: 'Bai Jamjuree', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 30px;
}

div:nth-child(7) img {
    width: 100%;
}

main img:nth-child(10) {
    width: 100%;
}

header {
    width: 120%;
    height: 250px;
    background: url(./images/bg-header-mobile.png) no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    width: 100px;
    height: 100px;
}

p {
    font-size: 14px;
    line-height: 25px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    color: var(--GrayishBlue);
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 20px;
    padding: 0 50px;
}

h1, h2 {
    padding: 0 50px;
    color: var(--DarkGrayishBlue);
}

h3 {
    font-size: 18px;
    color: var(--DarkGrayishBlue);
}

main div:nth-child(4), div:nth-child(17) {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: 'Bai Jamjuree', sans-serif;
}

button:nth-child(1) {
    margin-bottom: 15px;
    background-color: var(--StrongCyan);
    border-bottom: solid 2px hsla(171, 70%, 31%, 0.623);
    box-shadow: 0 5px 10px lightblue;
}

button:nth-child(2) {
    background-color: var(--LightBlue);
    border-bottom: solid 2px hsla(233, 56%, 52%, 0.733);
    box-shadow: 0 5px 10px lightblue;
}

section:nth-child(2) {
    margin: 30px 0 150px 0;
}

h2:nth-child(11) {
    margin-top: 70px;
}

p:nth-child(12) {
    margin-bottom: 50px;
}

section p {
    margin-top: 0;
}

section img {
    margin-bottom: 30px;
}

section:nth-child(13) {
    margin-bottom: 100px;
}

div:nth-child(14) {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

div:nth-child(14) img {
    margin-bottom: 50px;
}

div:nth-child(14) img:last-child {
    margin-bottom: 0;
}

footer {
    width: 120%;
    background-color: hsl(206, 20%, 93%);
    padding: 30px;
}

footer img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

h4 {
    margin: 20px 0;
    font-size: 13px;
    font-weight: 400;
    color: var(--DarkGrayishBlue);
}

footer span img {
    width: 20px;
    height: 20px;
    margin-top: 20px;
}

footer span img:nth-child(2) {
    margin: 0 25px 10px 25px;
}

button:hover {
    opacity: 50%;
    cursor: pointer;
}

h4:hover {
    color: var(--StrongCyan);
    cursor: pointer;
}

footer span img:hover {
    filter:  invert(69%) sepia(13%) saturate(3953%)
             hue-rotate(120deg) brightness(91%) contrast(70%);
    cursor: pointer;
}

/* desktop design */

@media screen and (min-width: 376px) {
    
    header, footer {
        width: 104%;
    }

    p {
        padding: 0 505px;
    }
    
    main div:nth-child(4), div:nth-child(17) {
        flex-direction: row;
    }

    button:nth-child(1) {
        margin-bottom: 0;
        margin-right: 10px;
    }

    div:nth-child(7) {
        display: flex;
        width: 80%;
    }

    div:nth-child(7) img {
        width: 50%;
    }

    section:nth-child(2) {
        width: 50%;
        margin-left: 80px;
    }

    section:nth-child(2) h3, section:nth-child(2) p {
        padding: 0 230px 0 0;
        text-align: start;
    }

    h2:nth-child(8) {
        margin-top: 100px;
    }

    main img:nth-child(10) {
        width: 50%;
    }

    section:nth-child(13) {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    section:nth-child(13) span {
        width: 400px;
    }

    section:nth-child(13) p {
        padding: 0 50px;
    }

    section p {
        margin-top: 10px;
    }

    div:nth-child(14) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    div:nth-child(14) img {
        margin-bottom: 0;
        margin-right: 50px;
    }

    div:nth-child(14) img:last-child {
        margin-right: 0;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    footer span:nth-child(2) {
        display: flex;
    }

    h4 {
        margin: 0 50px 0 100px;
    }

    h4:nth-child(2) {
        margin-top: 50px;
        margin-left: -81.5px;
    }

    h4:nth-child(4) {
        margin-top: 50px;
        margin-left: -134px;
    }

    footer span:nth-child(3) {
        margin-left: 100px;
    }

}
